---
import '../styles/global.css';

interface LayoutProps {
    pageTitle: string;
}

const {pageTitle} = Astro.props
---


<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body>
		<nav>
			<a href="/">Home</a>
			<a href="/personnes/">Liste de personnes</a>
            <a href="/auth-password">Authentification</a>
            <a href="/films/">Liste des fillms</a>
            <a href="/auth-github">se connecter avec github</a>
            <a href="/personnes/edit">Ajouter une personne</a>
            
            
		</nav>
        <slot />
    </body>
</html>