---
import Layout from "../../../layouts/Layout.astro";

export const prerender = false;

const pb = Astro.locals.pb;
if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    console.log(data);
}

---

<layout pageTitle="Edit personne">
    <h1>Edit personne</h1>

    <form class="*:contents grid grid-cols-2" method="post">
        <label> 
            Nationalite
        <select name="Nationalite" multiple >
            <option>US</option>
            <option>FR</option>
            <option>UK</option>
        </select>
    </label>
    <label>
        Date de deces
        <input type="date" name="date_deces" />
    </label>
    <label>
        Date de naissance
        <input type="date" name="date_naissance" />
    </label>
    <label>
        Lieu de naissance
        <input type="text" name="lieu_naissance" />
    </label>
    <label>
        nom
        <input type="date" name="nom" />
    </label>

        <button>Envoyer</button>
    </form>

</layout>